body{
    display: flex;
    justify-content: center;
    color:rgb(43, 49, 226);
}
.background{
    height: 600px;
    width: 400;
    margin-top: 30px;
    background-image:url("Screenshot 2025-09-30 172417.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding:9px;
}
.inner{
    width: 390px;
    height:590px;
    border: 4px solid rgb(255, 238, 0);
}
.title{
    margin: 4px
}
.sub{
    font-size: large;
}
.footer{
    margin: 4px;
    position: absolute;
    bottom: 25px;
    left: 18px;
    right: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.edition-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.image{
    width: 125px;
    height: 125;

}
.footer-text{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
}

.left-text{
    text-align: left;
    font-size: large;

}
.right-text{
    text-align: right;
    font-size: large;
}
.line{
    width:348px;
}